body {
    /* padding: 40px; */
    padding: 0 40px 40px 40px;
    background-color: #FFFFFF;
}


.top-text {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.image-logo {
    float: right;
    margin: 50px 70px 0 0;
}

.container {
    width: 100%;
    height: 700px;
    background-color: #56836F;
    border: 4px solid #006837;
}

.nav-bar {
    margin: 117px 0 90px 50px;
    float: right;
}

.nav-bar ul li{
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar li a {
    color: #fff;
    margin: 0 30px;
    font-family: sans-serif;
}

.section-box {
    float: left;
    width: 570px;
    height: 320px;
    background-color: #23206A;
    color: #fff;
    margin: 50px 70px 0 70px;
}

section.section-box::after {
    clear: both;
}

.section-box-image {
    float: right;
    width: 150px;
    height: 118px;
    padding: 20px 20px 0 20px;
}

.main-box-text {
    /* float: left; */
    padding: 25px 25px 0 25px;
    font-size: 14px;
}


#section-box-change {
    float: right;
    width: 500px;
    height: 320px;
    margin-top: -415px;
}
